{% extends 'base_admin.html.twig' %}

{% block title %}BlogSymfony | BACKOFFICE{% endblock %}

{% block body %}

    <div class="d-flex align-items-center justify-content-center flex-column" style="min-height: 70vh;">
    
        <h1 class="display-4 fst-italic text-center">Bienvenue dans votre BACKOFFICE</h1>

        <h4 class="text-center mt-5">Vous avez accès ici à toute l'administration du blog</h4>

        <h5 class="text-center mt-5">Statistiques</h5>

    </div>
{% endblock %}
